<ul class="posts">
        {% for post in posts %}
        <li class="post">
            <div class="post-content">
		<div class="post-title"><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }} </a> / <a href="{{ url_for('.category', name=post.category.name)}}">{{ post.category.name }}</a></div>
		<div class="row">
		<div class="col-md-1">
		<div class="post-thumbnail">
                <a href="{{ url_for('main.user', username=post.author.username)}}"><img class="img-circle img-responsive profile-thumbnail " src="{{ post.author.gravatar(size=50) }}"></a></div>
		</div>
		<div class="col-md-10">
		<div class="post-body">
		{% if post.readmore_body %}
			{{ post.readmore_body | safe }}
                {% elif post.body_html %}
                        {{ post.body_html | safe }}
                {% else %}
                        {{ post.body }}
                {% endif %}
		<a class="read-more" href="{{ url_for('.post', id=post.id) }}"><u>阅读全文</u></a>
                </div>
		</div>
		<div class="clearfix visible-xs"></div>
		</div>
		<br>
		<div class="post-footer">
			<span class="post-category"><a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a> 发布于 {{ moment(post.timestamp).format('LL') }}</span>
			{% if current_user == post.author %}
			<a href="{{ url_for('.edit', id=post.id) }}">
			<span class="label label-primary">修改</span></a>
			{% elif current_user.is_administrator() %}
			<a href="{{ url_for('.edit', id=post.id) }}">
			<span class="label label-danger">修改[管理员]</span></a>
			{% endif %}
			<a href="{{ url_for('.post', id=post.id) }}">
			<span class="label label-default">链接</span>
			</a>
			<a href="{{ url_for('.post', id=post.id)}}#comments">
			<span class="label label-primary">{{ post.comments.count() }}Comments</span>
			</a>
		</div>
            </div>
        </li>
        {% endfor %}
</ul>

