{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_title %}Minion的博客{% endblock %}

{% block page_content %}

<div class="row">

<div class="col-xs-12 col-md-2">
	<h2 class="page-header">类别</h2>
	{% for i in category %}
		<div class="post-category"><span class="category-name"><a href="{{ url_for(".category", name=i.name) }}">{{ i.name }}</a></span><span class="category-count">({{ count.get(i.name) }})</span></div>
	{% endfor %}

</div>

<div class="col-xs-12 col-md-10">
	<h2 class="page-header">博客</h2>

	{% include "_readmore_posts.html" %}

	{% if pagination %}
	<div class="pagination">
		{{ macros.pagination_widget(pagination, '.index') }}
	</div>
	{% endif %}
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}


